.swiper-container {
  position: relative;

  &.out-nav {
    padding: 0 3.5rem;

    .main-swiper {
      position: static !important;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  color: $primary !important;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  z-index: 1000;
}

.main-swiper {
  .swiper-pagination-bullets {
    bottom: 0 !important;

    .swiper-pagination-bullet {
      width: 12px !important;
      height: 12px !important;
      margin: 0 10px !important;
    }
  }

  &.dashes {
    .swiper-pagination-bullets {
      .swiper-pagination-bullet {
        width: 15px !important;
        height: 2px !important;
        margin: 0 4px !important;
        border-radius: 1px;
      }
    }
  }
}

.swiper-button-next {

  &::after {
    content: "\f138" !important;
    font-family: 'FontAwesome' !important;
    font-size: 30px;
    font-weight: 200;
  }
}

.swiper-button-prev {

  &::after {
    content: "\f137" !important;
    font-family: 'FontAwesome' !important;
    font-size: 30px;
    font-weight: 200;
  }
}

.swiper-pagination-bullet-active {
  background: $primary !important;
}

.thumb-swiper {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  .swiper-wrapper {
    align-items: center;
  }

  .main-swiper {
    height: 80%;
    width: 100%;
  }

  .thumbnail-swiper {
    height: 20%;
    width: 100%;
    padding: 0 2rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: $primary;
    background-color: transparent;
    padding: 0;

    &::after {
      font-family: 'FontAwesome' !important;
      color: $primary !important;
      font-size: 30px;
      font-weight: 200;
    }
  }

  .swiper-button-next {
    margin-inline-end: 0;

    &::after {
      content: "\f054" !important;
    }
  }

  .swiper-button-prev {
    margin-inline-start: 0;

    &::after {
      content: "\f053" !important;
    }
  }
}

@include for-phone {
  .main-swiper {
    .swiper-pagination-bullets {
      bottom: 0 !important;

      .swiper-pagination-bullet {
        width: 8px !important;
        height: 8px !important;
        margin: 0 5px !important;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

[data-layout-dir="rtl"] {
  .swiper-button-next {


    &::after {
      content: "\f137" !important;

    }
  }

  .swiper-button-prev {

    &::after {
      content: "\f138" !important;

    }
  }

  .thumb-swiper {

    .swiper-button-next {
      margin-inline-end: 0;

      &::after {
        content: "\f053" !important;
      }
    }

    .swiper-button-prev {
      margin-inline-start: 0;

      &::after {
        content: "\f054" !important;
      }
    }
  }

}
